osx_image: xcode9.2
language: swift

branches:
  only:
  - master

install:
- gem install xcpretty
- git config --global user.email "bots@cocoapods.org"
- git config --global user.name "CocoaPods Bot"

script:
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild -showsdks
  - xcodebuild
    -workspace Example/${POD_NAME}.xcworkspace
    -scheme ${POD_NAME}_Example
    -sdk ${IPHONE_SIMULATOR}
    -destination ${DESTINATION}
    ONLY_ACTIVE_ARCH=NO
    SWIFT_VERSION=${SWIFT_VERSION}
    test | xcpretty
  - pod lib lint

#- set -o pipefail && xcodebuild test -enableCodeCoverage YES -workspace Example/${POD_NAME}.xcworkspace -scheme ${POD_NAME}-Example -sdk iphonesimulator9.3 ONLY_ACTIVE_ARCH=NO | xcpretty
#- pod lib lint

#xcode_project: GenericUI.xcodeproj # path to your xcodeproj folder
#xcode_scheme: GenericUI_Tests
